cloud_id                 = "sdfgdsfg"
folder_id                = "dsfgdsfg"
zone                     = "ru-central1-a"
image_id                 = "sdfgsdfg"
public_key_path          = "~/.ssh/id_rsa.pub"
subnet_id                = "sdfgdsfg"
service_account_key_file = "key.json"
private_key_path         = "~/.ssh/id_rsa"
reddit_app_count         = 1
app_disk_image           = "sdfgsdfgdsg"
db_disk_image            = "sdfgdsfgds"
environment              = "prod"
terraform_backend_s3_bucket = "stage-"
