{
   "id": "aje3jdji9l1t6788cio6",
   "service_account_id": "ap",
   "created_at": "2023-11-08T06:36:22.730826579Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\\n-----END PUBLIC KEY-----\n",
   "private_key": "PLEASE DO NOT REMOVE THIS LINE! Yandex.Cloud SA Key ID \u00o6\ue\n-----BEGIN PRIVATE KEY-----\\n-----END PRIVATE KEY-----\n"
}
