cloud_id = ""
folder_id = ""
zone = "ru-central1-a"
image_id = ""
subnet_id = ""
public_key_path = "~/.ssh/id_rsa.pub"
private_key_path = "~/.ssh/id_rsa"
service_account_key_file = "key.json"
reddit_app_count = 1
app_disk_image = ""
db_disk_image = ""
environment = "prod"
terraform_backend_s3_bucket = ""
