{
   "id": "xxxxxxxxxxxxxxxxxxxx",
   "service_account_id": "xxxxxxxxxxxxxxxxxxxx",
   "created_at": "2023-11-08T06:36:22.730826579Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nxxxxxxxxxxxxxxxxxxxx\n-----END PUBLIC KEY-----\n",
   "private_key": "PLEASE DO NOT REMOVE THIS LINE! Yandex.Cloud SA Key ID \u003caje3788cio6\u003e\n"-----BEGIN PRIVATE KEY-----\nxxxxxxxxxxxxxxxxxxxx\n-----END PRIVATE KEY-----\n"
}
